form {
    background-color: grey;
    position: relative;
}

h1 {
    padding: 24px 24px;
    text-decoration: underline;
    text-align: center;
}

table {
    text-align: center;
}

#errorMesage {
    color: red;
}